html {
	width: 100%;
  }

  body {
	overflow-x: hidden !important;
  /* background-color: red; */
  }

  body.show-spinner>main {
	overflow: hidden !important;
  }

  /* Hide everything under body tag */
  body.show-spinner>* {
	opacity: 0;
  }

  /* Spinner */
  body.show-spinner::after {
	content: " ";
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	border-top-color: rgba(0, 0, 0, 0.3);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	left: calc(50% - 15px);
	top: calc(50% - 15px);
	position: fixed;
	z-index: 1;
  }

  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }

  @-webkit-keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
  }


  .tab_sections ul li{
	font-size: 18px;
	margin-bottom: 1rem;
	line-height: 1.8rem;
  }
  .tab_sections .glyph-icon.simple-icon-check{
	/* color: #57cd57; */
	color: #3a3a3a;
	font-size: 20px;
	vertical-align: text-top;
  }
  .tab_sections  ul li {
	position: relative;
  }
  .tab_sections  ul li.active .glyph-icon.simple-icon-check,
  .tab_sections  ul li.active{
	color: #006ca3;
  }
  .tab_sections  ul li.active .simple-icon-check:before{
	background: #006ca3;
	border-radius: 50%;
	color: #fff;
	border: 1px solid #006ca3;
  }
  .tab_sections  ul li.active .glyph-icon.simple-icon-check::after{
	border-right: 1px solid #006ca3;
  }

  .tab_sections  ul li:last-child .glyph-icon.simple-icon-check::after {
	border-right: 1px solid transparent;
  }
  .tab_sections .glyph-icon.simple-icon-check::after {
	border: 0px;
	content: "";
	display: inline-block;
	border-right: 1px solid #3a3a3a;
	height: 27px;
	vertical-align: middle;
	position: absolute;
	top: 20px;
	left: 9px;
  }

  .multi_step_form .intl-tel-input .country-list{
	z-index: 5;
  }
  .multi_step_form .intl-tel-input{
	width: 100% !important;
  }
  .multi_step_form #finish p {
	font-size: 30px;
  }
  .multi_step_form #finish{
	font-size: 50px;
  }
  .multi_step_form .number{
	border: 1px solid #006ca3;
	border-radius: 50%;
	font-size: 11px;
	padding: 3px;
	text-align: center;
	vertical-align: text-top;
  }
  .multi_step_form .select-from-library-container .list-media-thumbnail{
	height: 30px;
  }
  .multi_step_form .select-from-library-container .media-thumb-container{
	height: 40px;
  }
  .multi_step_form .select-from-library-button, .selected-library-item{
	height: 42px;
  }
  /* .multi_step_form .select-from-library-container.mb-1 .col-sm-12:nth-child(2){
	display: none;
  } */
  .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input,.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel]{
	padding-left: 55px !important;
  }
  .intl-tel-input.separate-dial-code .selected-flag{
	max-width: 50px !important;
	width: 50px;
  }
  .upload_document{
	padding: 10px;
	width: 100%;
	text-align: center;
	border: 1px dashed rgba(0,0,0,0.125);
	cursor: pointer;
  }

  .btn-toolbar.custom-toolbar button{
	margin-right: 5px;
  }


  /* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

   /* #msform {
	   width: 600px;
	   margin: 50px auto;
	   text-align: center;
	   position: relative;
  } */
   /* #msform fieldset {
	   background: white;
	   border: 0 none;
	   border-radius: 3px;
	   box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	   padding: 20px 30px;
	   box-sizing: border-box;
	   width: 80%;
	   margin: 0 10%;
	   position: absolute;
  } */
   #msform fieldset:not(:first-of-type) {
	   display: none;
  }
   /* #msform input, #msform textarea {
	   padding: 15px;
	   border: 1px solid #ccc;
	   border-radius: 3px;
	   margin-bottom: 10px;
	   width: 100%;
	   box-sizing: border-box;
	   font-family: montserrat;
	   color: #2C3E50;
	   font-size: 13px;
  } */
   #msform .action-button {
	   min-width: 100px;
	   background: #006ca3;
	   font-weight: bold;
	   color: white;
	   border: 0 none;
	   border-radius: 1px;
	   cursor: pointer;
	   padding: 10px 5px;
	   float:right;
	   margin: 10px 5px;
  }
   #msform .action-button:hover, #msform .action-button:focus {
	   box-shadow: 0 0 0 2px white, 0 0 0 3px #006ca3;
  }
   .fs-title {
	   font-size: 16px;
	   text-transform: uppercase;
	   color: #63a2cb;
	   margin-bottom: 10px;
  }
   .fs-subtitle {
	   font-weight: normal;
	   font-size: 14px;
	   color: #666;
	   margin-bottom: 20px;
  }
   #progressbar {
	   margin-bottom: 30px;
	   /* margin-top: 10px; */
	   overflow: hidden;
	   /* counter-reset: step; */
  }
   #progressbar li {
	   list-style-type: none;
	   /* color: white; */
	   /* text-transform: uppercase; */
	   /* font-size: 9px; */
	   /* width: 10%; */
	   /* float: left; */
	   /* position: relative; */
  }
   #progressbar li:before {
	   /* content: counter(step); */
	   /* counter-increment: step; */
	   width: 20px;
	   line-height: 20px;
	   display: block;
	   font-size: 10px;
	   color: #333;
	   background: white;
	   border-radius: 3px;
	   margin: 0 auto 5px auto;
  }
   #progressbar li:after {
	   content: '';
	   width: 100%;
	   height: 2px;
	   background: white;
	   position: absolute;
	   left: -50%;
	   top: 9px;
	   z-index: -1;
  }
   #progressbar li:first-child:after {
	   content: none;
  }
   #progressbar li.active, #progressbar li.active {
	   color: #006ca3;
	   /* color: white; */
  }
  .tab_sections li.active .glyph-icon.simple-icon-check,
  .tab_sections li.active{
	color: #006ca3;
  }
   .help-block {
	   font-size: .8em;
	   color: #7c7c7c;
	   text-align: left;
	   margin-bottom: .5em;
  }
   .file_uploader_input{
	outline: none;
	background: #fff;
    border-radius: 0.1rem;
    padding: 10px;
    border: 1px solid #d7d7d7;
    width: 100%;
   }
  .file_uploader{
	background: #fff;
    border-radius: 0.1rem;
    padding: 10px;
    border: 1px dashed #d7d7d7;
    width: 100%;
    text-align: center;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs, .col-xs-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto{
	  padding-right: 5px;
	  padding-left: 5px;
	}
	.row{
	  margin-right: -5px;
	  margin-left: -5px;
  }
  .table thead th{
	background: #006ca3;
    color: #fff;
  }
  .table{
	border: 1px solid #d7d7d7;
  }
  label{
	  cursor: pointer;
  }
  .form-control[placeholder] {
    background: #fff;
    color: #3a3a3a;
}
.add_padding{
	padding-right: 1.75rem;
}
.btn-toolbar.sw-toolbar.sw-toolbar-bottom.justify-content-end{
	display: none;
}
#fee_charges .sw-main.sw-theme-default>ul.step-anchor>li.active>a::before{
	background-color: #006ca3;
	/* background-color: #28a745; */
}
.text-main,
#fee_charges .sw-main>ul.step-anchor>li.active>a{
	color: #006ca3 !important;
}
.toggle_card{
	border: 1px solid #006ca3;
	box-shadow: none;
}
.navbar-logo{
	position: relative;
}
.navbar-logo .logo.d-none.d-xs-block img{
	width: 100px;
}
.navbar-logo .logo.d-none.d-xs-block{
    position: absolute;
    top: -40px;
    left: -10px;
    width: 100%;
}
* {box-sizing: border-box;}
.tab{width: 100%;margin: 0px auto;}
.current{display: block;}

.previous {background-color: #bbbbbb; }

/* .error {color: #f00; } */

/* color code of logo */
/* light-color : #00b5ef
dark-color : #006ca3 */

.select_dropdown div.error{
	bottom: -30px;
}
div.error{
	border-radius: 0px !important;
	width: auto !important;
	padding: 5px;
	right: 0px;
	margin-top: 0px;
	transform: translateX(0%);
	left: auto;
}
.btn.remove{
	font-size: 25px;
}
#fielddiv{
	margin-left: 30px;
    margin-top: 30px;
}
